{% load materializecss %}

<div class="row">
    {{ band_form.country|materializecss:"s12 m10 l8" }}
    {{ band_form.size|materializecss:"s12 m10 l8" }}
    {{ band_form.level|materializecss:"s12 m10 l8" }}
    {{ band_form.currency|materializecss:"s12 m10 l8" }}
    <div hidden>
        {{ band_form.category }}
    </div>
</div>

<div class="row">
    <div class="col s12 m10 l8">
        <button
            class="btn baustel dijon black-text waves-effect waves-light"
            name="calculate"
            type="submit">
            {% if band_form.fee.value %}
                Recalculate
            {% else %}
                Calculate
            {% endif %}
            <i class="material-icons right">calculate</i>
        </button>
    </div>
</div>
<div class="row">
    {{ band_form.fee|materializecss:"s12 m10 l8" }}
</div>

{% include 'consortial_billing/elements/warnings.html' with warnings=band.warnings %}

{% if band_form.fee.value and not supporter_form %}
    <div class="row">
        <div class="col s12 m10 l8">
            <button
                type="submit"
                class="btn btn-large waves-effect waves-light right"
                name="start_signup">
                Start Signup
                <i class="material-icons right">start</i>
            </button>
        </div>
    </div>
{% endif %}
