{% load foundation %}
{% load dict %}
{% load currency %}

<div class="reveal small" id="option" data-reveal data-animation-in="slide-in-up"
     data-animation-out="slide-out-down">
    <div class="card">
        <div class="card-divider">
            <h4><i class="fa fa-check-square-o">&nbsp;</i>Poll Option</h4>
        </div>
        <div class="card-section">
            <form method="POST">
                {% csrf_token %}
                {{ option_form|foundation }}
                {% if not option %}
                <hr />
                <p><small>Enter small, medium and large increase figures in {% default_currency %} and we will convert it into local currency for each banding (note: bandings must have been added to small, medium or large groupings).</small></p>
                {{ easy_banding_form|foundation }}

                <hr />
                {% endif %}
                <table>
                    <tr>
                        <th>Banding</th>
                        <th>Increase</th>
                        <th>Currency</th>
                    </tr>
                    {% for banding in bandings %}
                    <tr>
                        <td>{{ banding.name }}</td>
                        <td>{% if not poll.processed %}{{ banding_form|get:banding.pk }}{% else %}This poll has been processed.{% endif %}</td>
                        <td>{{ banding.currency }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <button type="submit" name="option" class="small success button">Submit</button>
            </form>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>