{% regroup supporters|dictsort:"band.country.name" by band.country.name as supporter_list %}

<div class="row">

    <section class="col s12 m6 l7">
        {% for supporter in supporter_list %}
            <{{ h }}
                id="{{ supporter.list.0.band.country.alpha3 }}"
                class="scrollspy">
                {{ supporter.list.0.band.country.name }}
            </{{ h }}>
            <ul>
                {% for supporter in supporter.list %}
                    <li>{{ supporter }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>

    <section class="col m6 l5 hide-on-small-only">
        <ul class="col m5 l4 table-of-contents fixed">
            {% for supporter in supporter_list %}
                <li>
                    <a href="#{{ supporter.list.0.band.country.alpha3 }}">
                        {{ supporter.list.0.band.country.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>

</div>
