{% extends "admin/core/base.html" %}
{% load humanize %}

{% block title %}Consortial Billing{% endblock title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'consortial_index' %}">Consortial Billing</a></li>
{% endblock %}


{% block body %}
<div class="row expanded">
    <div class="large-8 columns">
        <div class="box">
            <div class="title-area">
                <h2>Renewals Due in Next 30 Days</h2>
            </div>
            <div class="content">
                <table id="institutions_renewals">
                    <thead>
                    <tr>
                        <th>Institution</th>
                        <th>Country</th>
                        <th>Billing Agent</th>
                        <th>Next Renewal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for renewal in renewals %}
                    <tr>
                        <td>{{ renewal.institution.name }}</td>
                        <td>{{ renewal.institution.country }}</td>
                        <td>{{ renewal.institution.billing_agent }}</td>
                        <td>{{ renewal.institution.next_renewal.date }}</td>
                    </tr>
                    {% empty %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="large-4 columns">
        <div class="box">
            <div class="title-area">
                <h2>Projected Revenue for Next 12 Months</h2>
            </div>
            <div class="content">
                {% for item in renewals_in_year %}
                    <p>{{ item.currency }} {{ item.price|intcomma }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row expanded">
<div class="large-{% if institutions|length > 0 %}12{% else %}8{% endif %} columns {% if institutions|length > 0 %}end{% endif %}">
        <div class="box">
            <div class="title-area">
                <h2>All Institutions</h2>
            </div>
            <div class="content">
                <table id="institutions">
                    <thead>
                    <tr>
                        <th>Institution</th>
                        <th>Country</th>
                        <th>Billing Agent</th>
                        <th>Active</th>
                        <th>Display</th>
                        <th>Next Renewal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for institution in institutions %}
                    <tr>
                        <td>{{ institution.name }}</td>
                        <td>{{ institution.country }}</td>
                        <td>{{ institution.billing_agent }}</td>
                        <td>{% if institution.active %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}</td>
                        <td>{% if institution.display %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}</td>
                        <td>{{ institution.next_renewal.date }}</td>
                    </tr>
                    {% empty %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if institutions|length == 0 %}
    <div class="large-4 columns">
        <div class="box">
            <div class="title-area">
                <h2>Import</h2>
            </div>
            <div class="content">
                <p>Upload a CSV file here to import institutions. The format and order of fields is: Institution Name, Renewal Amount,	Currency,	Renewal Date,	Country	Banding,	Active,	Consortium,	Consortial Billing,	Billing Agent</p>
                <form id="csv_upload_form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="csv_upload" id="csv_upload"/>
                    <input class="button success pull-right" id="import_csv" type="submit"/>
                    <span class="clearfix"></span>
                </form>

            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock body %}

{% block js %}
{% include "elements/datatables.html" with target="#institutions" %}
{% include "elements/datatables.html" with target="#institutions_renewals" %}
{% endblock js %}