{% extends "admin/core/base.html" %}
{% load humanize %}
{% load currency %}

{% block title %}Consortial Billing{% endblock title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'consortial_index' %}">Consortial Billing</a></li>
{% endblock %}


{% block body %}
<div class="row expanded">
    <div class="{% if request.user.is_staff %}large-8{% else %}large-12{% endif %} columns">
        <div class="box">
            <div class="title-area">
                <h2>Renewals Due</h2>
                {% if request.user.is_staff %}<a class="float-right small button success" href="{% url 'consortial_non_funding_author_insts' %}"><i class="fa fa-eye action-icon">&nbsp;</i>Show free riders</a>{% endif %}
            </div>
            <div class="content">
                <table id="institutions_renewals">
                    <thead>
                    <tr>
                        <th>Institution</th>
                        <th>Country</th>
                        <th>Billing Agent</th>
                        <th>Next Renewal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for renewal in renewals %}
                    <tr>
                        <td><a href="{% url 'consortial_institution_id' renewal.institution.pk %}">{{ renewal.institution.name }}</a></td>
                        <td>{{ renewal.institution.country }}</td>
                        <td>{% if renewal.institution.billing_agent %}<a href="{% url 'consortial_renewals_agent' renewal.institution.billing_agent.pk %}">{{ renewal.institution.billing_agent }}</a>{% endif %}</td>
                        <td><a href="{% url 'consortial_process_renewal' renewal.institution.next_renewal.id %}">{{ renewal.institution.next_renewal.date|date:"Y-m-d" }}</a></td>
                    </tr>
                    {% empty %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if request.user.is_staff %}
    <div class="large-4 columns">
        <div class="box">
            <div class="title-area">
                <h2>Projected Revenue for Next 12 Months</h2>
                <a class="float-right small button success" href="{% url 'core_edit_plugin_settings_groups' plugin 'currency_options' 0 %}?return=consortial_index"><i class="fa fa-pencil action-icon">&nbsp;</i></a>
            </div>
            <div class="content">
                {% for item in renewals_in_year %}
                    <p>{{ item.currency|intcomma }} {{ item.price}} | {{ base_currency }} {% convert item.price item.currency %}</p>
                {% endfor %}
                <strong>Total: </strong> {{ base_currency }} {% convert_all renewals_in_year %}

                <canvas id="myChart" width="400" height="400"></canvas>

                <a href="{% url 'monthly_revenue' %}">View revenue by month >></a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="row expanded">
<div class="large-{% if institutions|length > 0 %}12{% else %}8{% endif %} columns {% if institutions|length > 0 %}end{% endif %}">
        <div class="box">
            <div class="title-area">
                <h2>All Institutions ({{ institutions|length }})</h2>
                <a class="button" href="{% url 'consortial_institution' %}"><i class="fa fa-plus">&nbsp;</i>Add New Institution</a>
            </div>
            <div class="content">
                <table id="institutions">
                    <thead>
                    <tr>
                        <th>Institution</th>
                        <th>Country</th>
                        <th>Billing Agent</th>
                        <th>Active</th>
                        <th>Display</th>
                        <th>Next Renewal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for institution in institutions %}
                    <tr>
                        <td><a href="{% url 'consortial_institution_id' institution.pk %}">{{ institution.name }}</a></td>
                        <td>{{ institution.country }}</td>
                        <td>{% if institution.billing_agent %}<a href="{% url 'consortial_renewals_agent' institution.billing_agent.pk %}">{{ institution.billing_agent }}</a>{% endif %}</td>
                        <td>{% if institution.active %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}</td>
                        <td>{% if institution.display %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}</td>
                        <td>{{ institution.next_renewal.date|date:"Y-m-d" }}</td>
                    </tr>
                    {% empty %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if institutions|length == 0 %}
    <div class="large-4 columns">
        <div class="box">
            <div class="title-area">
                <h2>Import</h2>
            </div>
            <div class="content">
                <p>Upload a CSV file here to import institutions. The format and order of fields is: Institution Name, Renewal Amount,	Currency,	Renewal Date,	Country	Banding,	Active,	Consortium,	Consortial Billing,	Billing Agent</p>
                <form id="csv_upload_form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="csv_upload" id="csv_upload"/>
                    <input class="button success pull-right" id="import_csv" type="submit"/>
                    <span class="clearfix"></span>
                </form>

            </div>
        </div>
    </div>
    {% endif %}
    {% if request.user.is_staff %}
    <div class="large-8 columns">
        <div class="box">
            <div class="title-area">
                <h2>Polls</h2>
                <a href="{% url 'consortial_polling' %}" class="button">Add New Poll</a>
            </div>
            <div class="content">
                <table id="polls">
                    <tr>
                        <th>Name</th>
                        <th>Votes</th>
                        <th>Opens</th>
                        <th>Closes</th>
                        <th></th>
                    </tr>
                    <tbody>
                    {% for poll in polls %}
                        <tr>
                            <td>{{ poll.name }}</td>
                            <td>{{ poll.vote_set.all|length }} / {{ institutions|length }}</td>
                            <td>{{ poll.date_open }}</td>
                            <td>{{ poll.date_close }}</td>
                            <td><a href="{% url 'consortial_polling_id' poll.pk %}">Edit</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    {% if request.user.is_staff %}
    <div class="large-4 columns">
        <div class="box">
            <div class="title-area">
                <h2>Config Options</h2>
            </div>
            <div class="content">
                <div class="stacked button-group">
                    <a class="button" href="{% url 'core_edit_plugin_settings_groups' plugin 'options' 0 %}?return=consortial_index">Configure signup system</a>
                    <a class="button" href="{% url 'core_edit_plugin_settings_groups' plugin 'display_options' 0 %}?return=consortial_index">Configure supporting institutions page</a>
                    <a href="/admin/consortial_billing/banding/" class="button">Bandings</a>
                    <a href="/admin/consortial_billing/billingagent/" class="button">Billing Agents</a>
                    <a href="/admin/consortial_billing/supportlevel/" class="button">Edit Support Levels</a>
                    <a href="{% url 'consortial_display' %}" class="button">Display Nav Items</a>
                </div>

            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock body %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>

<script>
    var data = {
        labels: [
            {% for item in renewals_in_year %}"{{ item.currency }}",{% endfor %}
        ],
        datasets: [
            {
                data: [{% for item in renewals_in_year %}"{% convert item.price item.currency 'number' %}",{% endfor %}],
                backgroundColor: [
                    "#3366CC","#DC3912","#FF9900","#109618","#990099","#3B3EAC","#0099C6","#DD4477","#66AA00","#B82E2E","#316395","#994499","#22AA99","#AAAA11","#6633CC","#E67300","#8B0707","#329262","#5574A6","#3B3EAC"
                ],
            }]
    };
    var ctx = document.getElementById("myChart");
    var myDoughnutChart = new Chart(ctx, {
        type: 'pie',
        data: data
    });
</script>

    {% include "elements/datatables.html" with target="#institutions" sort=3 %}
    {% include "elements/datatables.html" with target="#institutions_renewals" sort=3 order="asc" %}
    {% include "elements/datatables.html" with target="#polls" sort=3 %}
{% endblock js %}