{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Consortial Billing{% endblock title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'consortial_index' %}">Consortial Billing</a></li>
<li><a href="{% url 'consortial_non_funding_author_insts' %}">Non Funding Users</a></li>
{% endblock %}


{% block body %}
<form method="POST">
    {% csrf_token %}
    {% include "elements/forms/errors.html" with form=form %}
    <div class="large-8 columns">
        <div class="box">
            <div class="title-area">
                <h2>Base Details</h2>
                <a class="button" href="">Back</a>
            </div>
            <div class="content">
                <div class="row expanded">
                    <div class="small-12 columns">
                        {{ form.name|foundation }}
                    </div>
                    <div class="small-4 columns">
                        {{ form.first_name|foundation }}
                    </div>
                    <div class="small-4 columns">
                        {{ form.last_name|foundation }}
                    </div>
                    <div class="small-4 columns">
                        {{ form.email_address|foundation }}
                    </div>
                    <div class="small-12 columns">
                        <hr />
                    </div>
                    <div class="small-8 columns">
                        {{ form.address|foundation }}
                    </div>
                    <div class="small-4 columns">
                        {{ form.postal_code|foundation }}
                        {{ form.country|foundation }}
                        {{ form.display|foundation }}
                        {{ form.active|foundation }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="box">
            <div class="title-area">
                <h2>Banding and Agent</h2>
            </div>
            <div class="content">
                {{ form.banding|foundation }}
                {{ form.billing_agent|foundation}}
            </div>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="box">
            <div class="title-area">
                <h2>Consortium</h2>
            </div>
            <div class="content">
                {{ form.consortial_billing|foundation }}
                {{ form.consortium|foundation}}
            </div>
        </div>
    </div>
    <div class="large-12 columns">
        <div class="box">
            <div class="content">
                <button type="submit" name="submit" class="success button">Submit</button>
            </div>
        </div>
    </div>
</form>


{% endblock body %}

{% block js %}
{% include "elements/datatables.html" with target="#books" sort=1 %}
{% endblock js %}