{% extends "admin/core/base.html" %}
{% load admin_urls %}

{% block title %}Consortial Billing - {{ request.press.name }}{% endblock title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'supporters_manager' %}">Supporters Manager</a></li>
{% endblock %}


{% block body %}
{% if request.user.is_staff %}
    <div class="row">
        <div class="large-6 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Data</h2>
                </div>
                <div class="content">
                    <p>
                        You can view supporter records and other data here. Note that bands are created
                        by the plugin when needed, so you don't have to create or edit them one by one.
                        You can control them using Configuration below.
                    </p>
                    <div class="stacked button-group">
                        {% comment %}
                          Some admin URLs are hard-coded because the admin: prefix
                          is dropped by Janeway when trying to match plugin URLs.
                        {% endcomment %}
                        <a
                            href="/admin/consortial_billing/supporter/"
                            class="button secondary"
                            target="_blank">
                            <i class="fa fa-users"></i>
                            All supporters
                        </a>
                        <a
                            href="/admin/consortial_billing/band/"
                            class="button secondary"
                            target="_blank">
                            <i class="fa fa-table"></i>
                            All bands
                        </a>
                        <a
                            href="/admin/cms/mediafile/?q={{ plugin_settings.DISPARITY_INDICATOR }}"
                            class="button secondary"
                            target="_blank">
                            <i class="fa fa-globe"></i>
                            All GNI per capita data
                        </a>
                        <a
                            href="/admin/cms/mediafile/?q={{ plugin_settings.RATE_INDICATOR }}"
                            class="button secondary"
                            target="_blank">
                            <i class="fa fa-gbp"></i>
                            All exchange rates
                        </a>
                        <a
                            href="/admin/cms/mediafile/?q=demo"
                            class="button secondary"
                            target="_blank">
                            <i class="fa fa-table"></i>
                            Demo band data
                        </a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="title-area">
                    <h2>Configuration</h2>
                </div>
                <div class="content">
                    {% if not agents or not sizes or not levels or not currencies or not base_bands %}
                    <p>
                        The plugin expects at least one of each of the following items
                        to function properly. These are all components of bands, so configure
                        them before creating base bands.
                    </p>
                    {% endif %}
                    <p>
                        Size factors in to bands according to custom
                        multipliers. Country and currency factor in according to
                        data from the World Bank, including GNI per capita, as shown in
                        the data section.
                    </p>
                    <div class="stacked button-group">
                        <a
                            href="/admin/consortial_billing/billingagent/"
                            class="button secondary"
                            target="_blank">
                            {% if agents %}
                                Billing agents ({{ agents|length }})
                            {% else %}
                                <i class="fa fa-plus"></i>
                                Create a billing agent
                            {% endif %}
                        </a>
                        <a
                            href="/admin/consortial_billing/supportersize/"
                            class="button secondary"
                            target="_blank">
                            {% if sizes %}
                                Institution sizes ({{ sizes|length }})
                            {% else %}
                                <i class="fa fa-plus"></i>
                                Create an institution size
                            {% endif %}
                        </a>
                        <a
                            href="/admin/consortial_billing/supportlevel/"
                            class="button secondary"
                            target="_blank">
                            {% if levels %}
                                Support levels ({{ levels|length }})
                            {% else %}
                                <i class="fa fa-plus"></i>
                                Create a support level
                            {% endif %}
                        </a>
                        <a
                            href="/admin/consortial_billing/currency/"
                            class="button secondary"
                            target="_blank">
                            {% if currencies %}
                                Currencies ({{ currencies|length }})
                            {% else %}
                                <i class="fa fa-plus"></i>
                                Create a currency
                            {% endif %}
                        </a>
                        {% if not base_bands %}
                            <a
                                href="/admin/consortial_billing/band/add/?display=False&base=True"
                                class="button secondary"
                                target="_blank">
                                <i class="fa fa-plus"></i>
                                Create a base band
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if settings %}
            <div class="box">
                <div class="title-area">
                    <h2>Other Settings</h2>
                </div>
                <div class="content">
                    <p>
                        Text blocks and email templates.
                    </p>
                    <div class="stacked button-group">
                        {% for setting in settings %}
                        <a
                            class="button secondary"
                            target="_blank"
                            href="{% url 'admin:core_setting_change' setting.pk %}">
                            <i class="fa fa-pencil"></i>
                            {{ setting.pretty_name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="large-6 columns">
            {% if base_bands %}
            <div class="box">
                <div class="title-area">
                    <h2>Current Base Bands</h2>
                </div>
                {% for base_band in base_bands %}
                    <div class="content">
                        <h3>{{ base_band.level }}</h3>
                        <ul>
                            <li>{{ base_band.fee }} {{ base_band.currency }}</li>
                            <li>{{ base_band.size }}</li>
                            <li>{{ base_band.country.name }}</li>
                            <li>Created on {{ base_band.datetime|date:"j F Y" }}</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
                {% if currencies %}
                <div class="box">
                    <div class="title-area">
                        <h2>Current Exchange Rates (from {{ base_bands.0.currency }})</h2>
                    </div>
                    <div class="content">
                        <ul>
                            {% for currency in currencies %}
                                <li>{{ currency.exchange_rate.0|floatformat:3 }} {{currency.code }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            <form method="POST">
            {% csrf_token %}
            <div class="box">
                <div class="title-area">
                    <h2>Annual update</h2>
                </div>
                <div class="content">
                    <p>
                        You can update the source data by fetching new
                        information from the World Bank with these buttons.
                    </p>
                    <div class="stacked button-group">
                        <button
                            name="fetch_data"
                            value="{{ plugin_settings.DISPARITY_INDICATOR }}"
                            type="submit"
                            class="button warning">
                            <i class="fa fa-refresh"></i>
                            Get new GNI per capita data
                            <br>
                            (last fetched {{ latest_gni_data.uploaded|default:'never' }})
                        </button>
                        <button
                            name="fetch_data"
                            value="{{ plugin_settings.RATE_INDICATOR }}"
                            type="submit"
                            class="button warning">
                            <i class="fa fa-refresh"></i>
                            Get new exchange rates
                            <br>
                            (last fetched {{ latest_exchange_rate_data.uploaded|default:'never' }})
                        </button>
                    </div>
                    <p>
                        The base bands need replacing every year
                        to keep track of inflation. <a
                            href="/admin/consortial_billing/band/?base=True"
                            target="_blank">Older base bands</a>
                        are kept on record. Each button below takes
                        you to form where you can select parameters
                        for a new base band for that level.
                    </p>
                    <div class="stacked button-group">
                        {% if base_bands %}
                            {% for base_band in base_bands %}
                                <a
                                    href="/admin/consortial_billing/band/add/?display=False&base=True&level={{ base_band.level.pk }}"
                                    class="button warning"
                                    target="_blank">
                                    <i class="fa fa-plus"></i>
                                    Replace {{ base_band.level }} band
                                    <br>
                                    (created {{ base_band.datetime }})
                                </a>
                            {% endfor %}
                        {% endif %}
                        {% if base_bands|length == 0 or base_bands|length != levels|length %}
                            <a
                                href="/admin/consortial_billing/band/add/?display=False&base=True"
                                class="button warning"
                                target="_blank">
                                Create another base band
                            </a>
                        {% endif %}
                    </div>
                    {% if fixed_fee_bands %}
                        <p>
                            Any fixed fee bands need to be updated manually.
                        </p>
                        <div class="stacked button-group">
                            <a
                                href="/admin/consortial_billing/band/?fixed_fee__exact=True"
                                class="button secondary"
                                target="_blank">
                                <i class="fa fa-pencil"></i>
                                Edit fixed fee bands
                                (oldest is {{ fixed_fee_bands.earliest.datetime }})
                            </a>
                        </div>
                    {% endif %}
                    <p>
                        If you've recently changed any configuration options
                        you can update the demo bands shown on the fees page
                        with this button.
                    </p>
                    <div class="stacked button-group">
                        <button
                            name="update_demo"
                            value=""
                            type="submit"
                            class="button warning">
                            <i class="fa fa-refresh"></i>
                            Update demo band data
                            <br>
                            (last updated {{ latest_demo_data.uploaded|default:'never' }})
                        </button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
{% endif %}

{% endblock body %}
