{% extends "admin/core/base.html" %}
{% load humanize %}
{% load currency %}}

{% block title %}Consortial Billing{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'consortial_index' %}">Consortial Billing</a></li>
    <li>Price Modeller</li>
{% endblock %}

{% block title-section %}
    Price Modeller: Increase - {{ increase }}{{ base_currency }}
{% endblock title-section %}

{% block body %}
    <div class="row expanded">
        <div class="medium-9 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Institutions</h2>
                </div>
                <div class="content">
                    <table id="institutions">
                        <thead>
                        <tr>
                            <th>Institution</th>
                            <th>Country</th>
                            <th>Billing Agent</th>
                            <th>Active</th>
                            <th>Display</th>
                            <th>Next Renewal</th>
                            <th>Multiplier</th>
                            <td>Current Rate</td>
                            <td>New Rate</td>
                            <td>New Rate {{ base_currency }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for institution in institutions %}
                        <tr>
                            <td><a href="{% url 'consortial_institution_id' institution.pk %}">{{ institution.name }}</a></td>
                            <td>{{ institution.country }}</td>
                            <td>{% if institution.billing_agent %}<a href="{% url 'consortial_renewals_agent' institution.billing_agent.pk %}">{{ institution.billing_agent }}</a>{% endif %}</td>
                            <td>{% if institution.active %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}</td>
                            <td>{% if institution.display %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}</td>
                            <td>{{ institution.next_renewal.date }}</td>
                            <td>{{ institution.multiplier }}</td>
                            <td>{{ institution.banding.default_price }} {{ institution.banding.currency }}</td>
                            <td>{% multiply institution.banding.default_price institution.multiplier %} {{ institution.banding.currency }}</td>
                            <td>{% convert_multiplier institution.banding.default_price institution.banding.currency institution.multiplier %} {{ base_currency }}</td>
                        </tr>
                        {% empty %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="medium-3 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Institutions</h2>
                </div>
                <div class="content">
                    {% for k, v in renewals.items %}
                        {% if not k == 'total' %}
                        {{ k }}: {{ v }}<br />
                        {% endif %}
                    {% endfor %}
                    Total: {{ renewals.total }} {{ base_currency }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
{% include "elements/datatables.html" with target="#institutions" sort=3 %}
{% endblock js %}