{% extends "core/base.html" %}
{% load i18n %}
{% block title %}Active Polls{% endblock title %}


{% block body %}
    <section id="content">
        <div class="row columns">
            <h2>Active Polls</h2>
            {% for poll in polls %}
                <div class="callout">
                    <h4>{{ poll.name }}</h4>
                    {{ poll.text|safe }}
                    <p><strong>Opened: </strong>{{ poll.date_open }} | <strong>Closes: </strong>{{ poll.date_close }}
                    </p>
                    <p>To take part in this poll, you'll need to enter the email address associated with your institution.</p>
                    <form method="POST">
                        {% csrf_token %}

                        <div class="row">
                            <div class="medium-4 columns">
                                <input type="email" name="email" placeholder="Institution email address.">
                            </div>
                            <div class="medium-2 columns end">
                                 <button type="submit" class="success button" name="poll" value="{{ poll.pk }}">Vote</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% empty %}
                <div class="callout">
                    <h4>No active polls.</h4>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock body %}