{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Consortial Billing{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'consortial_index' %}">Consortial Billing</a></li>
    <li>Polling Manager</li>
{% endblock %}

{% block title-section %}
    {% if poll %}Poll: {{ poll.name }}{% else %}New Poll{% endif %}
{% endblock title-section %}

{% block body %}
    <div class="row expanded">
        <div class="medium-6 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Poll Summary</h2>
                </div>
                <div class="content">
                    <form method="POST">
                        {% csrf_token %}
                        <p>Now that this poll is complete, you can select which votes to carry. Bandings and active renewals
                            will be updated with the new values.</p>
                        <ul>
                            {% for count in vote_count %}
                                <li><input type="checkbox" name="options" value="{{ count.option.pk }}" {% if count.carried %}checked="checked"{% endif %}>
                                    <strong>{{ count.text }}: </strong> {{ count.count }}
                                    {% with count.count as votingcount %}{% if not count.option.all %}(Total:
                                        {{ votingcount|add:all_count }}){% endif %}{% endwith %}</li>
                            {% endfor %}
                        </ul>
                        <button type="submit" class="success button">Process Poll</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "consortial_billing/elements/option.html" %}
{% endblock body %}

{% block js %}}
    {% include "elements/jqte.html" %}
    {% include "elements/datepicker.html" with target="#id_date_open" %}
    {% include "elements/datepicker.html" with target="#id_date_close" %}
    {% if option %}
        {% include "elements/open_modal.html" with target="option" %}
    {% endif %}
{% endblock js %}