{% extends 'core/base.html' %}
{% load i18n %}
{% block title %}Get Institution Referral Code{% endblock title %}


{% block body %}
    <section id="content">
        <div class="row columns">
            <h4>Select Your Institution</h4>
            {{ referral_text.value }}
            <table id="institutions">
                <thead>
                <tr>
                    <th>Institution</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for institution in active_institutions %}
                    <tr>
                        <td>{{ institution.name }}</td>
                        <td><a href="{% url 'referral_code' institution.referral_code %}" class="">Get Referral Code</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock body %}

{% block js %}
    {% include "admin/elements/datatables.html" with target='#institutions' %}
{% endblock %}