{% extends "admin/core/base.html" %}
{% load humanize %}
{% load currency %}
{% load foundation %}

{% block title %}Consortial Billing{% endblock title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'consortial_index' %}">Consortial Billing</a></li>
<li><a href="">Renewal Report</a></li>
{% endblock %}

{% block body %}
<div class="row expanded">
    <div class="box">
        <div class="title-area">
            <h2>Renewals between {{ start_date.date }} and {{ end_date.date }}</h2>
        </div>
        <div class="content">
            <form method="POST">
                {% csrf_token %}
                <div class="row expanded">
                    <div class="medium-5 columns">
                        <label>Start Date
                            <input name="start" type="date" placeholder=".medium-6.columns" value="{{ start_date.date|date:"Y-m-d" }}">
                        </label>
                    </div>
                    <div class="medium-5 columns">
                        <label>End Date
                            <input name="end" type="date" placeholder=".medium-6.columns" value="{{ end_date.date|date:"Y-m-d" }}">
                        </label>
                    </div>
                    <div class="medium-2 columns"><br />
                        <button type="submit" class="success button">Update</button>
                    </div>
                </div>
            </form>
            <br />
            <table id="institutions_renewals">
                <thead>
                <tr>
                    <th>Institution</th>
                    <th>Country</th>
                    <th>Billing Agent</th>
                    <th>Next Renewal</th>
                </tr>
                </thead>
                <tbody>
                {% for renewal in renewals %}
                <tr>
                    <td>{{ renewal.institution.name }}</td>
                    <td>{{ renewal.institution.country }}</td>
                    <td>{{ renewal.institution.billing_agent }}</td>
                    <td><a href="{% url 'consortial_process_renewal' renewal.institution.next_renewal.id %}">{{ renewal.institution.next_renewal.date }}</a></td>
                </tr>
                {% empty %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
{% include "elements/datatables.html" with target="#institutions_renewals" sort=3 order="asc" %}
{% endblock js %}