{% extends "core/base.html" %}
{% load i18n %}
{% block title %}Support the Open Library of Humanities{% endblock title %}


{% block body %}
<section id="content">
    <div class="row columns">
        <h1>Step Two</h1>
        <p>Please select your banding/price:</p>
        {{ banding_form.banding|foundation}}
    </div>
    <div class="large-12 columns">
        <button class="success button pull-right" type="submit" name="start_submission"><i
                class="fa fa-check">&nbsp;</i>{% trans "Agree and Continue" %}
        </button>
    </div>
</section>
{% endblock body %}