{% extends "core/base.html" %}
{% load i18n %}
{% load foundation %}
{% load humanize %}
{% block title %}Support the Open Library of Humanities{% endblock title %}


{% block body %}
<section id="content">
    <div class="row columns">
        <h3>Step Two</h3>
        {% include "elements/forms/generic_errors.html" with errors=errors %}
        <form method="POST">
            {% csrf_token %}
            <p>Please select your banding/price. Please note, some bandings may be handled externally and you will be redirected.</p>
            <table>
                <tr>
                    <th>Select</th>
                    <th>Description</th>
                    <th>Cost</th>
                </tr>
                {% for banding in bandings %}
                <tr>
                    <td><input name="banding" type="radio" value="{{ banding.pk }}"></td>
                    <td>{{ banding.name}}</td>
                    <td>{{ banding.currency}} {{ banding.default_price|intcomma }}</td>
                </tr>
                {% endfor %}
            </table>
            <button class="success button pull-right" type="submit" name="start_submission"><i
                    class="fa fa-check">&nbsp;</i>{% trans "Select and Continue" %}
            </button>
        </form>
    </div>
</section>
{% endblock body %}