{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% load render_string %}
{% load materializecss %}
{% block title %}Support the OLH - {{ request.press.name }}{% endblock title %}

{% block body %}
    {% if redirect_text %}
        <div class="row">
            <div class="col m10 l8">
                <h1>One More Step</h1>
                {% render_string redirect_text %}
            </div>
        </div>
        <div class="row">
            <div class="col m10 l8">
                <a
                    href="{{ supporter.billing_agent.redirect_url }}"
                    class="btn-large waves-effect waves-light"
                    target="_blank"
                    >
                    Go to {{ supporter.billing_agent.name }}
                    <i class="material-icons right">launch</i>
                </a>
            </div>
        </div>
    {% elif complete_text %}
        <div class="row">
            <div class="col m10 l8">
                <h1>Signup Complete</h1>
                <div><i class="material-icons medium green-text">done</i></div>
                {% render_string complete_text %}
            </div>
        </div>
    {% else %}

        <div class="row">
            <div class="col">
                <h1>Support the OLH</h1>
            </div>
        </div>

        <div class="row">
            <form method="POST">

                {% csrf_token %}
                <div class="input-field col m10 l8">
                    <input
                        id="{{ supporter_form.name.id_for_label }}"
                        type="text"
                        class="autocomplete"
                        name="{{ supporter_form.name.html_name }}"
                        value="{{ supporter_form.name.value|default:'' }}">
                    <label
                        for="{{ supporter_form.name.id_for_label }}">
                        {{ supporter_form.name.label|title }}
                    </label>
                </div>
                {{ supporter_form.display|materializecss:"m10 l8" }}

                {{ supporter_form.address|materializecss:"m10 l8" }}
                {{ supporter_form.postal_code|materializecss:"m10 l8" }}

                {% include 'consortial_billing/elements/calculate_fee.html' with band_form=band_form %}

                {% if band_form.fee.value %}
                    <div class="row">
                        <div class="col m10 l8">
                            {{ signup_agreement|safe }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m10 l8">
                            <button
                                type="submit"
                                class="btn-large baustel dijon black-text waves-effect waves-light"
                                name="sign_up">
                                Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    {% endif %}

{% endblock body %}

{% block js %}
    <script src="{% static 'path/autocomplete.js' %}" type="module"></script>
{% endblock js %}
