{% extends "core/base.html" %}
{% load i18n %}
{% block title %}Support the Open Library of Humanities{% endblock title %}


{% block body %}
<section id="content">
    <div class="row columns">
        <h2>Step One</h2>
        {{ signup_text.value|safe }}
        <a href="{% url 'consortial_banding' %}" class="success button pull-right" type="submit" name="start_submission"><i
                class="fa fa-check">&nbsp;</i>{% trans "Agree and Continue" %}
        </a>
    </div>
</section>
{% endblock body %}