{% extends "core/base.html" %}

{% block title %}Supporters{% endblock title %}


{% block body %}
<section id="content">
    <div class="row columns">
        <div>
            {{ pre_text.value|safe }}
        </div>
        <br />
        {% regroup institutions by country as institutions_list %}
        {% for institution in institutions_list %}
        <h5>{{ institution.grouper }}</h5>
        <ul>
            {% for institution in institution.list %}
            <li>{{ institution }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
        {{ post_text.value|safe }}
    </div>
</section>
{% endblock body %}