{% extends "admin/core/base.html" %}
{% load humanize %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link href="{% static "supporters/style.css" %}" rel="stylesheet">
{% endblock css %}
{% block title %}All Supporters - {{ request.press.name }}{% endblock title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'supporters_manager' %}">Supporters Manager</a></li>
<li>All Supporters</li>
{% endblock %}

{% block body %}

  <div class="rummage-portal">
    {% include "admin/elements/list_filters.html" %}
    <div class="box">
      <div class="title-area">
        <h2>All Supporters</h2>
        <a
          href="{% url 'new_supporter' %}?return={{ request.get_full_path|urlencode }}"
          class="button success small">
          <i class="fa fa-plus"></i>
          Create new supporter
        </a>
      </div>
      {% include "common/elements/sorting.html" with form_id=facet_form.id %}
      {% for supporter in supporter_list %}
        <div class="callout">
          {% include 'consortial_billing/supporter_list_item.html' %}
        </div>
      {% empty %}
        <div class="callout">
          <p><strong>No supporters to display.</strong></p>
        </div>
      {% endfor %}
      {% include "common/elements/pagination.html" with form_id=facet_form.id %}
    </div>
  </div>
{% endblock body %}
