{% extends "admin/core/base.html" %}
{% load humanize %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link href="{% static "supporters/style.css" %}" rel="stylesheet">
{% endblock css %}
{% block title %}All Supporters - {{ request.press.name }}{% endblock title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'supporters_manager' %}">Supporters Manager</a></li>
<li>All Supporters</li>
{% endblock %}

{% block body %}
<section id="content" class="row-expanded supporter-list">
  <div class="large-8 columns border-right">
    <aside class="hide-for-large">
      <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">{% trans 'Show Filter Options' %}</a>
           <div class="accordion-content" data-tab-content>
              {% include "elements/journal/article_list_filters.html" %}
          </div>
        </li>
      </ul>
    </aside>
    <div class="header-with-button">
        <h2>All Supporters</h2>
        <a
          href="{% url 'new_supporter' %}?return={{ request.get_full_path|urlencode }}"
          class="button success small">
          <i class="fa fa-plus"></i>
          Create new supporter
        </a>
    </div>
    {% include "common/elements/sorting.html" with form_id=facet_form.id %}
    {% for supporter in supporter_list %}
      <div class="box">
        {% include 'consortial_billing/supporter_list_item.html' %}
      </div>
    {% empty %}
      <div class="box">
        <p><strong>No supporters to display.</strong></p>
      </div>
    {% endfor %}
    {% include "common/elements/pagination.html" with form_id=facet_form.id %}
  </div>
  <aside class="large-4 columns show-for-large">
    {% include 'elements/journal/article_list_filters.html' %}
  </aside>
</section>
{% endblock body %}
