{% extends "core/base.html" %}

{% block title %}
    Support the OLH - {{ request.press.name }}
{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Support Bands</h1>
        </div>
    </div>
    {% regroup display_bands by level as bands_by_level %}
    {% for level, bands in bands_by_level %}
        <div class="row">
            <div class="col">
                <h2>{{ level }}</h2>
                <table class="striped centered">
                    <thead>
                        <th>Supporter Size</th>
                        <th>Countries</th>
                        <th>EUR</th>
                        <th>GBP</th>
                        <th>USD</th>
                    </thead>
                    <tbody>
                        {% for row in bands %}
                        <tr>
                            <td>{{ row.size|safe }}</td>
                            <td>{{ row.countries|safe }}</td>
                            <td>{{ row.EUR|safe }}</td>
                            <td>{{ row.GBP|safe }}</td>
                            <td>{{ row.USD|safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock body %}
